

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4">
        <div id="sampleComponent"></div>
    </div>

  </div>

</div>


{{#contentFor "footerScripts"}}
  <script src="/js/home.js"></script>
{{/contentFor}}
